@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

section {
  width: 100%;
}

.size {
  display: flex;
  align-items: center; /* centra verticalmente */
  gap: 6px; /* espacio entre icono y texto */
}

.size i svg {
  display: block; /* evita espacios raros */
}


.furniture-section {
  padding: 40px 10px;
}

.furniture-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 15px;
}

.furniture-card {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: -3px 3px 10px #c4c3fc3d;

  transform: scale(1.08);
  opacity: 0;

  transition:
    transform 0.6s ease,
    opacity 0.6s ease;
}

.furniture-card.visible {
  transform: scale(1);
  opacity: 1;
}

.furniture-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}

.furniture-card h3 {
  padding: 15px;
  text-align: center;
}

.furniture-card {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  transition: transform 0.4s ease;
}

.furniture-card:hover {
  transform: scale(0.95);
}
.furniture-card img {
  width: 100%;
  object-fit: cover;
  transition: transform 0.4s ease;
}

.furniture-card:hover img {
  transform: scale(1.05);
}

@media (max-width: 1200px) {
  .furniture-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .furniture-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .furniture-grid {
    grid-template-columns: 1fr;
  }
}
