#categorias-container {
  display: flex;
  gap: 10px;
  padding: 10px;
  overflow: scroll;
}

.categoria-card {
  width: 100%;
  padding: 10px;
  background: #013565;
  color: #fdb604;
  border-radius: 10px;
  text-align: center;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: .2s;
}

.categoria-card:hover {
  background: #e0e0e0;
}

#productos-container {
  padding: 20px;
}

.product-card {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 15px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.product-card img {
  width: 120px;
  height: auto;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.product-card p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #333;
}

.promotion-slider {
  width: 100%;
  height: 50vh;
  overflow: hidden;
  position: relative;
}

.promotion-slider .slides-promotion {
  position: relative;
  width: 100%;
  height: 100%;
}

.promotion-slider picture {
  position: absolute;
}

.promotion-slider picture.active {
  z-index: 1;
}

.promotion-slider img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#method-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#method-table th, #method-table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

#method-table input {
  width: 120px;
  padding: 8px;
  font-size: 1rem;
}

#method-table button {
  padding: 8px 12px;
  background: #0077ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#method-table button:hover {
  background: #005fcc;
}


#productos-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

#productos-table th, #productos-table td {
  padding: 15px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

#productos-table img {
  width: 120px;
  border-radius: 8px;
}

#productos-table input {
  width: 120px;
  padding: 8px;
  font-size: 1rem;
}

#productos-table button {
  padding: 8px 12px;
  background: #0077ff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#productos-table button:hover {
  background: #005fcc;
}

