* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  background-color: #e5ded5;
  font-weight: 400;
  font-family: 'Poppins', system-ui, sans-serif;
}

section {
  width: 100%;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 500;
  letter-spacing: 0.5px;
}

p {
  line-height: 1.6;
}

.clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3; /* número de líneas visibles */
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
  max-width: 100%;
}
