@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600&family=Poppins:wght@300;400;500;600&display=swap');

.modal {
  position: fixed;
  inset: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal.hidden {
  display: none;
}

/* Fondo */
.modal-backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.55);
  backdrop-filter: blur(4px);
}

.product-price {
  cursor: pointer;
}

/* Contenedor */
.modal-content {
  position: relative;
  background: #fafafa;;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  animation: modalIn 0.35s ease;
}

/* Grid */
.modal-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;
}

/* Imagen ocupa 4 columnas */
.modal-image {
  grid-column: span 5;
  background: #f5f5f5;
}

.modal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Barra lateral */
.modal-info {
  grid-column: span 2;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  overflow-y: auto;
  background: #fafafa;
  border-left: 1px solid #e5e5e5;
  box-shadow: 0px 2px 49px #000000c9;
}

@media (max-width: 1200px) {
  .modal-info {
    box-shadow: none;
  }
}

/* Colores */
.modal-colors {
  display: flex;
  gap: 10px;
}

.modal-colors span {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
}

/* Cerrar */
.modal-close {
  z-index: 8;
  position: absolute;
  top: 14px;
  right: 18px;
  font-size: 28px;
  background: none;
  border: none;
  cursor: pointer;
}

/* Animación */
@keyframes modalIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Estado inicial del modal */
.modal {
  opacity: 0;
  pointer-events: none;
}

.modal.show {
  opacity: 1;
  pointer-events: auto;
}

.modal-info {
  transform: translateX(80px);
  opacity: 0;
  transition:
    transform 0.65s ease,
    opacity 0.45s ease;
}

.modal-image {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.modal.show .modal-info {
  transform: translateX(0);
  opacity: 1;
}

/* Delay para que aparezca después del aside */
.modal.show .modal-image {
  opacity: 1;
  transition-delay: 0.35s;
}

.modal-image img {
  transition: opacity 0.4s ease;
  height: 100vh;
}

.modal-colors {
  display: flex;
  gap: 10px;
}

.modal-colors span {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #ccc;
  transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.modal-colors span:hover {
  transform: scale(1.15);
}

.modal-colors span.active {
  box-shadow: 0 0 0 2px #000;
}

.toggle_desc {
  font-size: 0.8rem;
  font-weight: 500;
  cursor: pointer;
  color: #000000a1;
  font-style: italic;
  line-height: 1;
}

@media (max-width: 768px) {
  .modal-content {
    overflow-y: auto;
  }

  .modal-grid {
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }

  .modal-image{
    max-height: 50vh;
    overflow: hidden;
  }

  .modal-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .modal-info {
    overflow: visible;
  }

  .modal-info {
    border-left: none;
    border-top: 1px solid #e5e5e5;
  }

  .modal-name{
    font-size: 1rem;
  }
  .size_text{
    font-size: 0.8rem;
  }
  .desc{
    font-size: 0.8rem;
    font-family: "Playfair Display", serif;
  }
}

.modal-name{
  font-size: 1rem;
  font-family: "Playfair Display", serif;
}
.size_text{
  font-size: 0.8rem;
}
.desc{
  font-size: 0.8rem;
  font-family: "Playfair Display", serif;
}

.open-dot{
  background-color: rgb(9, 100, 190);
  color: white;
  padding: 2px 4px;
  border-radius: 5px;
  cursor: pointer;
}

.open-dot:hover{
  background-color: rgb(8, 73, 138);
}

.modal-opens{
  display: none;
}

.modal-top{
  display: flex;
  justify-content: start;
}

.span-top{
  margin: 0px 10px 0px 0px;
  padding: 5px;
  background: gray;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.span-top:hover{
  background: rgb(83, 83, 83);
}
