.close_pay {
  position: absolute;
  top: 8px;
  right: 12px;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.close_pay:hover {
  color: rgb(6, 126, 255);
}

.modal_pay {
  z-index: 1000;
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.modal-content_pay {
  position: relative;
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.pago-btn {
  background: #007bff;
  color: white;
  margin: 5px;
  padding: 12px 20px;
  width: 120px;
  text-align: center;
  border-radius: 6px;
  cursor: pointer;
}
