/* NAVBAR SUPERIOR */
.top-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom,rgba(0, 90, 200, 0.9),rgba(0, 90, 200, 0));
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 1000;
}

.nav-left, .nav-center, .nav-right {
  display: flex;
  align-items: center;
}

.nav-logo {
  height: 40px;
}

.nav-back {
  height: 28px;
  cursor: pointer;
}

/* ICONO HAMBURGUESA */
.nav-toggle {
  display: flex;
  width: 25px;
  height: 25px;
  margin: 0;
  flex-direction: column;
  justify-content: space-between;
  /* background: transparent; */
  background-color: rgba(0,0,0,0.01); /* tiny hack para Safari */
  border: none;
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none;
  padding: 0;
}

.nav-toggle span {
  width: 100%;
  height: 3px;
  background: #ffffff;
  border-radius: 2px;
  display: block;
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(15, 15, 20, 0.55);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  opacity: 0;
  pointer-events: none;
  transition: opacity .3s ease;
  z-index: 1000;
}

.nav-sidebar {
  position: fixed;
  top: 0;
  right: -75%;
  width: 75%;
  height: 100%;
  background: rgba(255, 255, 255, 0.18);        /* vidrio */
  backdrop-filter: blur(18px);                  /* blur */
  -webkit-backdrop-filter: blur(18px);          /* soporte Safari */
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: -10px 0 25px rgba(0, 0, 0, 0.35); /* profundidad */
  transition: right .3s ease;
  z-index: 1001;
  display: flex;
  flex-direction: column;
}


.sidebar-header {
  padding: 20px;
  text-align: center;
}

.sidebar-logo {
  height: 50px;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 18px;
}

.sidebar-menu a {
  font-size: 1rem;
  color: #f8f8f8;
  text-decoration: none;
  font-weight: 500;
  border-bottom: 1px solid;
  padding: 5px;
}

/* ESTADO ABIERTO */
.nav-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.nav-sidebar.active {
  right: 0;
}
